.bg-warning {
    background-color: #9b7646 !important;
}

.bg-primary {
    background-color: #e73737 !important;
}

.border-danger {
    border: solid white !important;
    border-width: 0cqmax;
}

.bg-1 {
    background-color:  #b19877;
}

.bg-2 {
    background-color: #ea7c7c;
}
